demo/mule-amazon-bedrock-connector-test/src/main/mule/mule-amazon-bedrock-connector-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mac-inference="http://www.mulesoft.org/schema/mule/mac-inference" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:mac-bedrock="http://www.mulesoft.org/schema/mule/mac-bedrock"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mac-bedrock http://www.mulesoft.org/schema/mule/mac-bedrock/current/mule-mac-bedrock.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mac-inference http://www.mulesoft.org/schema/mule/mac-inference/current/mule-mac-inference.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0ef4d378-0351-4d56-b283-174e28676c17" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<mac-bedrock:config name="Amazon_Bedrock_Config" doc:name="Amazon Bedrock Config" doc:id="af9d02bc-7b43-41ff-8f23-2c2fe5381355" awsAccessKeyId="${aws_acces_key}" awsSecretAccessKey="${aws_secret_key}" />
	<configuration-properties doc:name="Configuration properties" doc:id="b403a9b5-04cf-485b-8fcc-750a0062f718" file="llm.properties" />
	<flow name="mule-amazon-bedrock-connector-testFlow" doc:id="5f7ee97f-30f9-481e-9516-9beb8b23624b" >
		<http:listener doc:name="Listener" doc:id="f9c1be39-d470-412b-89c6-e30a479c4611" config-ref="HTTP_Listener_config" path="/bedrock"/>
		<choice doc:name="Choice" doc:id="3d613b19-1375-4be8-a997-3ccfcc9a0306" >
			<when expression='#[attributes.queryParams.operation == "prompt"]' >
				<mac-bedrock:chat-answer-prompt doc:name="Chat answer prompt" doc:id="cda31fe3-d232-4dbc-b85f-91a256d37389" config-ref="Amazon_Bedrock_Config" prompt="#[payload.prompt]" modelName="${llm_model_name}" region="${llm_region}" guardrailIdentifier="2dt172kvk2x0"/>
			</when>
			<when expression='#[attributes.queryParams.operation == "imageGenerate"]' >
				<mac-bedrock:image-generate doc:name="Image generate" doc:id="ad1ac413-f426-46cb-9a83-c03403fe7a29" config-ref="Amazon_Bedrock_Config" TextToImage="#[payload.prompt]" AvoidInImage="#[payload.avoid]" fullPathOutput='#["/Users/chiew.lee/Downloads/imageGen.png"]' modelName="${llm_image_gen_model_name}" region="${llm_region}"/>
			</when>
			<when expression='#[attributes.queryParams.operation == "modelDetails"]'>
				<mac-bedrock:foundational-model-details doc:name="Foundational model details" doc:id="d5031c31-002f-47ac-a48a-77378a326240" config-ref="Amazon_Bedrock_Config" modelName="#[payload.modelName]"/>
			</when>
			<when expression='#[attributes.queryParams.operation == "promptTemplate"]' >
				<mac-bedrock:agent-define-prompt-template doc:name="Agent define prompt template" doc:id="25d8ff38-659e-4f2f-82c2-7bccfa3e47b6" config-ref="Amazon_Bedrock_Config" template="#[payload.template]" instructions="#[payload.instructions]" dataset="#[payload.dataset]" modelName="${llm_model_name}" region="${llm_region}" />
			</when>
			<when expression='#[attributes.queryParams.operation == "sentimentAnalyse"]' >
				<mac-bedrock:sentiment-analyze doc:name="Sentiment analyze" doc:id="22bf8aa2-b1f9-43ae-82a2-ea786c9bb984" config-ref="Amazon_Bedrock_Config" TextToAnalyze="#[payload.text]" modelName="mistral.mistral-7b-instruct-v0:2"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="8ef1a178-eb21-4d16-9d4d-ba98cd5561d6" message="Do nothing...."/>
			</otherwise>
		</choice>
	</flow>
</mule>
